#form-stitle{
	width:350px;
	float:left;
	margin-right:15px;
}
#form-snickname{
	width:350px;
	float:left;
	margin-right:15px;
}
#form-search-status {
	width:350px;
	float:left;
	margin-right:15px;
}

